ci:
  # Leave pip-audit to only run locally and not in CI
  # pre-commit.ci does not allow network calls
  skip: [pip-audit]

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: check-added-large-files
      args: [--maxkb=8192]
    - id: check-merge-conflict
    - id: check-yaml
      exclude: |
        (?x)^(
        ^conda.recipe/meta.yaml
        )$

    - id: end-of-file-fixer
      exclude: "tests/cis_tests/.*"
    - id: trailing-whitespace
      exclude: "tests/cis_tests/.*"
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.6
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      exclude: "tests/cis_tests/.*"
    - id: ruff-format
      exclude: "tests/cis_tests/.*"
- repo: https://github.com/pypa/pip-audit
  rev: v2.9.0
  hooks:
    - id: pip-audit
# disable for now
#- repo: https://github.com/pre-commit/mirrors-mypy
#  rev: v1.1.1
#  hooks:
#  - id: mypy
