environment: dev

IPTS:
  default: /SNS
  root: /SNS

orchestration:
  path:
    delimiter: /

instrument:
  name: SNAP
  home: ${IPTS.root}/SNAP
  calibration:
    home: /home/dzj/Calibration_dynamic
    sample:
      home: ${instrument.calibration.home}/CalibrantSamples
      extensions:
        - json
    powder:
      home: ${instrument.calibration.home}/Powder
      grouping:
        home: ${instrument.calibration.powder.home}/PixelGroupingDefinitions
        extensions:
          - hdf
          - xml
          - nxs
  reduction:
    # Here "{IPTS}" will be substituted with the IPTS-directory name for a specified <runNumber>
    home: /home/dzj/{IPTS}/shared/SNAPRed

  config: ${instrument.calibration.home}/SNAPInstPrm.json
  native:
    pixelResolution: 1179648
    definition:
      file: ${instrument.home}/shared/Malcolm/dataFiles/SNAP_Definition.xml
  lite:
    pixelResolution: 18432
    definition:
      file: ${instrument.calibration.home}/Powder/SNAPLite.xml
    map:
      file: ${instrument.calibration.home}/Powder/LiteGroupMap.hdf
  startingRunNumber: 10000
  minimumRunNumber: 46342
  maxNumberOfRuns: 10

nexus:
  lite:
    prefix: shared/lite/SNAP_
    extension: .lite.nxs.h5
  native:
    prefix: nexus/SNAP_
    extension: .nxs.h5
  file:
    extension: .nxs.h5
    prefix: SNAP_

grouping:
  workspacename:
    lite: SNAPLite_grouping_
    native: SNAP_grouping_

calibration:
  file:
    extension: .json
    prefix: SNAPcalibLog
  normalization:
    output:
      ws:
        extension: .nxs
  diffraction:
    output:
      extension: .tar
    diagnostic:
      extension: .nxs.h5
    maximumIterations: 5
    convergenceThreshold: 0.5
    peakIntensityThreshold: 0.05
    nBinsAcrossPeakWidth: 10
    maximumOffset: 10
    maxDSpaceShiftFactor: 2.5
    peakFunction: GAUSSIAN
    minimumPeaksPerGroup: 2
    preferredPeaksPerGroup: 4
  parameters:
    default:
      # degrees
      groupSliceValue: 5
      alpha: 0.1
      beta:
        - 0.02
        - 0.05
      FWHMMultiplier: {left: 2.0, right: 2.0}
      peakTailCoefficient: 2.0
      smoothing: 0.5
  fitting:
    minSignal2Noise: 0.0

mantid:
  workspace:
    nameTemplate:
      delimiter: "_"
      template:
        run: "{unit},{group},{lite},{auxiliary},{runNumber}"
        diffCal:
          input: "{unit},{runNumber},raw"
          table: "diffract_consts,{runNumber},{version}"
          output: "{unit},{group},{runNumber},{version}"
          diagnostic: "diagnostic,{group},{runNumber},{version}"
          mask: "diffract_consts,mask,{runNumber},{version}"
          metric: "calib_metrics,{metricName},{runNumber},{version}"
          timedMetric: "calib_metrics,{metricName},{runNumber},{timestamp}"
        normCal:
          rawVanadium: "{unit},{group},{runNumber},raw_van_corr,{version}"
          focusedRawVanadium: "{unit},{group},{runNumber},raw_van_corr,{version}"
          smoothedFocusedRawVanadium: "{unit},{group},{runNumber},fitted_van_corr,{version}"
        reduction:
          output: "reduced,{unit},{group},{runNumber},{timestamp}"
          outputGroup: "reduced,{stateId},{timestamp}"
          pixelMask: "pixelmask,{runNumber},{timestamp}"
          # the user pixel mask name token is case sensitive
          userPixelMask: "MaskWorkspace,{numberTag}"
      formatter:
        version:
          # Zero fill to 4 digits.  Allow excess length.
          workspace: "v{version:04d}"
          path: "v_{version:04d}"
        timestamp:
          # Substitute timestamp-in-milliseconds if the keyword is present (e.g. "ts{timestamp}"),
          #   otherwise use `datetime.strftime` format-string syntax.
          workspace: "%Y%m%dT%H%M%S"
          path: "%Y-%m-%dT%H%M%S%z"
          path_regx: "([0-9]{4})-([0-9]{2})-([0-9]{2})T([0-9]{2})([0-9]{2})([0-9]{2})"
        numberTag:
          # No zero fill.  Will not be output if == 1.  Allow excess length.
          workspace: "{number}"
          path: "{number}"
        runNumber:
          # Zero fill to 6 digits.  Allow excess length.
          workspace: "{runNumber:>06}"
          path: "{runNumber:>06}"
        stateId:
          # Only use the first 8 characters from the SHA.
          workspace: "{stateId:8.8}"
          path: "{stateId}"
      units:
        dSpacing: DSP
        timeOfFlight: TOF
        momentumTransfer: QSP
        wavelength: LAM
        diagnostic: diagnostic
      groups:
        unfocussed: Unfoc
        all: All
        column: Column
        bank: Bank

localdataservice:
  config:
    verifypaths: true

logging:
  level: 20
  SNAP:
    format: '%(asctime)s - %(levelname)-8s - %(name)s - %(message)s'

samples:
  home: ${instrument.calibration.sample.home}

version:
  friendlyName:
    error: "uninitialized"  # alphanumeric
    default: 0 # alphanumeric
  start: 1   # MUST be nonnegative integer

cis_mode: false

constants:
  millisecondsPerSecond: 1000
  PeakIntensityFractionThreshold: 0.05
  m2cm: 10000.0 # conversion factor for m^2 to cm^2

  CrystallographicInfo:
    crystalDMin: 0.4
    crystalDMax: 100.0

  CalibrationReduction:
    tofMin: 2000
    tofMax: 14500
    rebinParams: [2000, -0.001, 14500]

  DetectorPeakPredictor:
    fwhm: 1.17741002252 # used to convert gaussian to fwhm (2 * log_e(2))

  GroupDiffractionCalibration:
    MaxChiSq: 100

  ResampleX:
    NumberBins: 1500

  CropFactors:
    lowWavelengthCrop: 0.05

docs:
  user:
    path: /SNS/SNAP/shared/Malcolm/SNAPUserDocs/_build/html/index.html

metadata:
  tagPrefix: SNAPRed_
