# environment: dev

orchestration:
  path:
    delimiter: /

instrument:
  name: SNAP
  home: /SNS/SNAP/
  calibration:
    home: ${instrument.home}shared/Calibration
    sample:
      home: ${instrument.calibration.home}/CalibrantSamples
      extensions:
        - cif
        - json
    powder:
      home: ${instrument.calibration.home}/Powder
      grouping:
        home: ${instrument.calibration.powder.home}/PixelGroupingDefinitions
        extensions:
          - lite.hdf
  config: shared/Calibration/SNAPInstPrm.json
  native:
    definition:
      file: ${instrument.home}shared/Malcolm/dataFiles/SNAP_Definition.xml
  lite:
    definition:
      file: ${instrument.home}shared/Calibration/Powder/SNAPLite.xml
    map:
      file: ${instrument.home}shared/Calibration/Powder/LiteGroupMap.hdf

nexus:
  home: nexus/
  file:
    extension: .nxs.h5
    prefix: SNAP_

calibration:
  file:
    extension: .json
    prefix: SNAPcalibLog
  reduction:
    output:
      extension: .nxs
      format: "{}_calibration_reduction_result"
  diffraction:
    convergenceThreshold: 0.05
    peakIntensityThreshold: 0.05
    nBinsAcrossPeakWidth: 10
  parameters:
    default:
      # degrees
      groupSliceValue: 5
      alpha: 0.1
      beta:
        - 0.02
        - 0.05
      FWHMMultiplier:
        - 2.0
        - 2.0
      peakTailCoefficient: 2.0

localdataservice:
  config:
    verifypaths: true

logging:
  level: 10
  SNAP:
    format: '%(asctime)s - %(levelname)-8s - %(name)s - %(message)s'

samples:
  home: /SNS/SNAP/shared/Calibration/CalibrantSamples

cis_mode: true
