# environment: dev

orchestration:
  path:
    delimiter: /

instrument:
  name: SNAP
  home: /SNS/SNAP/
  calibration:
    home: ${instrument.home}shared/Calibration
    sample:
      home: ${instrument.calibration.home}/CalibrantSamples
      extensions:
        - json
    powder:
      home: ${instrument.calibration.home}/Powder
      grouping:
        home: ${instrument.calibration.powder.home}/PixelGroupingDefinitions
        extensions:
          - lite.hdf
  config: ${instrument.calibration.home}/SNAPInstPrm.json
  native:
    pixelResolution: 1179648
    definition:
      file: ${instrument.home}shared/Malcolm/dataFiles/SNAP_Definition.xml
  lite:
    pixelResolution: 18432
    definition:
      file: ${instrument.calibration.home}/Powder/SNAPLite.xml
    map:
      file: ${instrument.calibration.home}/Powder/LiteGroupMap.hdf

nexus:
  lite:
    prefix: shared/lite/SNAP_
    extension: .lite.nxs.h5
  native:
    prefix: nexus/SNAP_
    extension: .nxs.h5
  file:
    extension: .nxs.h5
    prefix: SNAP_

grouping:
  filename:
    prefix: SNAPFocGroup_
    lite:
      extension: .lite.hdf
    native:
      extension: .xml
  workspacename:
    lite: SNAPLite_grouping_
    native: SNAP_grouping_

calibration:
  file:
    extension: .json
    prefix: SNAPcalibLog
  reduction:
    output:
      extension: .nxs
      format: "{}_calibration_reduction_result"
  diffraction:
    maximumIterations: 5
    convergenceThreshold: 0.5
    peakIntensityThreshold: 0.05
    nBinsAcrossPeakWidth: 10
    maximumOffset: 10
    maxDSpaceShiftFactor: 2.5
  parameters:
    default:
      # degrees
      groupSliceValue: 5
      alpha: 0.1
      beta:
        - 0.02
        - 0.05
      FWHMMultiplier:
        - 2.0
        - 2.0
      peakTailCoefficient: 2.0

normalization:
  parameters:
    default:
      dMin: 0.4

mantid:
  workspace:
    nameTemplate:
      delimiter: "_"
      run: "{unit},{group},{lite},{auxilary},{runNumber}"
      diffCal:
        input: "{unit},{runNumber},raw"
        output: "{unit},diffoc,{runNumber}"
        table: "diffract_consts,{runNumber},{version}"
        metric: "calib_metrics,{metricName},{runNumber},{version}"
        timed_metric: "calib_metrics,{metricName},{runNumber},{timestamp}"
        mask: "diffract_consts,mask,{runNumber},{version}"
      normCal:
        rawVandium: "{runNumber},{backgroundRunNumber},RVC"
        focusedRawVanadium: "{runNumber},{backgroundRunNumber},RVC,{groupingScheme}"
        smoothedFocusedRawVanadium: "{runNumber},{backgroundRunNumber},RVC,{groupingScheme},{smoothingParameter}"
      units:
        dSpacing: DSP
        timeOfFlight: TOF
      groups:
        unfocussed: Unfoc
        all: All
        column: Column
        bank: Bank

localdataservice:
  config:
    verifypaths: true

logging:
  level: 20
  SNAP:
    format: '%(asctime)s - %(levelname)-8s - %(name)s - %(message)s'

samples:
  home: ${instrument.calibration.home}/CalibrantSamples

cis_mode: false

constants:
  millisecondsPerSecond: 1000
  PeakIntensityFractionThreshold: 0.05
  m2cm: 10000.0 # conversion factor for m^2 to cm^2

  CrystallographicInfo:
    dMin: 0.4
    dMax: 100.0

  CalibrationReduction:
    tofMin: 2000
    tofMax: 14500
    rebinParams: [2000, -0.001, 14500]

  DetectorPeakPredictor:
    fwhm: 1.17741002252 # used to convert gaussian to fwhm (2 * log_e(2))
