name: Cache Conda Environment

on:
  push:
    branches: [fix_cache_job]
    # branches: [next]

jobs:
  load-cache:
    runs-on: ubuntu-latest
    outputs:
      cache-hit: ${{ steps.cache-load.outputs.cache-hit }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - name: Restore cached conda environment
        id: cache-load
        uses: actions/cache/restore@v3
        with:
          path: /usr/share/miniconda/envs/SNAPRed
          key: ${{ runner.os }}-conda-${{ hashFiles('**/environment.yml') }}
  build-and-cache:
    needs: load-cache
    if: needs.load-cache.outputs.cache-hit != 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          mamba-version: "*"
          environment-file: environment.yml
          activate-environment: SNAPRed
      - name: Echo conda path
        run: |
          echo $CONDA_PREFIX
      - name: Cache conda environment
        uses: actions/cache/save@v3
        id: cache-conda-env
        with:
          path: /usr/share/miniconda/envs/SNAPRed
          key: ${{ runner.os }}-conda-${{ hashFiles('**/environment.yml') }}
